body{
  background-color: #DCC1B0;
  text-aligh: center;
  font-color: #847072;
  font-style: Tahoma;
}
h1 {
   font-size: 24px;
   color: #3D313F; 
}
h2 {
   font-size: 18px;
   color: #3D313F;
} 

h2 { font-size= 24px;}
<!-- #869DAB -->
